<div class="pr-5 max-w-52">
  <h1 class="text-3xl text-blue-800 font-bold text-left">
    <slot name="number" />
  </h1>
  <p class="text-base text-gray-700 mb-6">
    <slot name="string" />
  </p>
</div>
<style>
